*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
mark
{
    all: unset;
    color: #0081fe;
}
.containerPanelControl
{
    display: flex;
    align-items: flex-start;
}
a{
    text-decoration: none;
    color: inherit;

}
.containnerPanelLayout{
    width: 100%;
    height: 100vh;
}
input[type="submit"]:disabled{
    cursor: no-drop;
}